@page "/"

@using Microsoft.AspNetCore.SignalR.Client
@using System.Threading
@using Microsoft.Extensions.Logging
@using Realmar.Jobbernetes.AdminWeb.Client.Formatters
@using Realmar.Jobbernetes.AdminWeb.Shared.Primitives

@inject NavigationManager _navigationManager
@inject ILogger<Overview> _logger
@inject HubFactory _hubFactory

@implements IAsyncDisposable

<OverviewSummarySection HubConnection="@_hubConnection" CancellationToken="@_cts.Token"/>

<MudDivider Class="my-5"/>

<OverviewJobsTable Health="@HealthState.Critical" Hub="@_hubConnection" CancellationToken="@_cts.Token"/>

<div class="py-2"></div>

<OverviewJobsTable Health="@HealthState.Warning" Hub="@_hubConnection" CancellationToken="@_cts.Token"/>

<div class="py-2"></div>

<OverviewJobsTable Health="@HealthState.Good" Hub="@_hubConnection" CancellationToken="@_cts.Token"/>

@code {

    private HubConnection _hubConnection;
    private readonly CancellationTokenSource _cts = new();
    private readonly List<Task> _tasks = new();

    protected override Task OnInitializedAsync()
    {
        _hubConnection = _hubFactory.Create("/overviewhub");
        return _hubConnection.StartAsync();
    }

    public ValueTask DisposeAsync()
    {
        _cts.Cancel();
        return _hubConnection.DisposeAsync();
    }

}
